

@import "./utils/variables";
@import "./base/typography";
@import "./base/base";

@import "./utils/keyframes";
@import "./layout/loader";
@import "./layout/header";

.main {
    width: 92%;
    align-self: center;
}

@import "./layout/location";
@import "./components/button";
@import "./layout/functionning";
@import "./layout/restaurants";
@import "./components/favorite";
@import "./layout/footer";

@import "./page/menu";

