

/* Footer */
.footer {
    @include bac($color-black);
    color: $color-white;
    padding: 20px;

    &__hdg {
        font-family: "shrikhand", serif;
        font-size: 25px;
    }

    &__list {
        list-style-type: none;
        font-size: 18px;
        padding: 0px;

        &__itm {
            margin-bottom: 10px;
        }

        &__lnk {
            text-decoration: none;
            color: $color-white;
        }

        &__icn {
            width: 20px;
            margin-right: 20px;
        }
    }
}

