

/* Footer */
.footer {
    color: $color-white;
    padding: $padding;
    @include bac($color-black);
    &--marg {
        @include tab {
            margin-top: 20px;
        }
    }

    &__hdg {
        font-size: 25px;
        font-family: "shrikhand", serif;
        @include tab {
            padding-left: calc($padding*2);
        }
    }

    &__list {
        font-size: 18px;
        list-style-type: none;
        padding: $none;
        @include tab {
            padding-left: calc($padding*2);
        }

        &__itm {
            margin-bottom: 10px;
        }

        &__lnk {
            text-decoration: none;
            color: $color-white;
        }

        &__icn {
            width: 20px;
            margin-right: 20px;
        }
    }
}

