

/* Footer */
.footer {
    color: $color-white;
    padding: 20px;
    @include bac($color-black);

    &--marg {
        @include tab {
            margin-top: 20px;
        }
    }

    &__hdg {
        font-family: "shrikhand", serif;
        font-size: 25px;

        @include tab {
            padding-left: 40px;
        }
    }

    &__list {
        list-style-type: none;
        font-size: 18px;
        padding: 0px;

        @include tab {
            padding-left: 40px;
        }

        &__itm {
            margin-bottom: 10px;
        }

        &__lnk {
            text-decoration: none;
            color: $color-white;
        }

        &__icn {
            width: 20px;
            margin-right: 20px;
        }
    }
}

