

/* Fonctionnement */
.func {
    padding: $padding;
    @include pc {
        padding-right: $none;
    }

    &__mode {
        list-style-type: none;
        padding: $none;
        @include pc {
            display: flex;
            justify-content: space-between;
        }
    }
    
    &__step {
        height: 100px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        margin: 20px 15px;
        @include bac($color-white);
        @include col($color-white);
        @include pc {
            width: 33%;
            flex-wrap: nowrap;
            padding-right: $padding;
        } 
        &:hover {
            color: $color-primary;
            @include hov($color-primary);
        }
        &__info {
            display: flex;
            font-size: 20px;
            font-weight: 700;
            color: $color-black;
            margin: $none;
        }
        &__icn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            &--num {
                width: 30px;
                height: 30px;
                background-color: $color-primary;
                border: solid transparent;
                border-radius: 50%;
                color: $color-white;
                position: relative;
                right: 15px;
            }
            &--scd {
                font-size: 25px;
                margin: $none 20px;
            }
        }
    }
}

