

/* Fonctionnement */
.func {
    padding: 20px;

    &__mode {
        list-style-type: none;
        padding: 0px;
    }
    
    &__step {
        height: 100px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        margin: 20px 15px;
        @include bac($color-white);
        @include col($color-white);

        &:hover {
            color: $color-primary;
            @include bac($color-primary);
        }
    
        &__info {
            display: flex;
            font-size: 20px;
            font-weight: 700;
            color: $color-black;
            margin: 0px;
        }

        &__icn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &--num {
                width: 30px;
                height: 30px;
                background-color: $color-primary;
                border: solid transparent;
                border-radius: 50%;
                color: $color-white;
                position: relative;
                right: 15px;
            }

            &--scd {
                font-size: 25px;
                margin: 0px 20px;
            }
        }
    }
}

