

/* Header */
.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding;
    &--algn {
        align-items: center;
    }
    
    &__blc {
        display: flex;
    }
    
    &__home {
        width: 30%;
        display: flex;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        @include pc {
            display: none;
        }
    }

    &__logo {
        width: 200px;
        &--size {
            width: 250px;
        }
        @include pc {
            width: 300px;
        }
    }
}

