

/* Location */
.loc {
    text-align: center;
    @include bac($color-white);

    @include tab {
        border-radius: 20px;
    }

    &__form {
        @include bac(#f2f2f2);

        @include tab {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }

        &__sch {
            height: 50px;
            border-color: transparent;
            font-size: 18px;
            padding-left: 10px;
            @include bac(#f2f2f2);
        }
    }

    &__msg {
        height: auto;
        display: flex;
        font-size: 25px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        &__hdg {
            padding: 0px 20px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        &__txt {
            font-weight: 300;
            @include col(#f2f2f2);
        }
    }
}

