@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "roboto", serif;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

/* Keyframes */
@keyframes load {
  0% {
    transform: rotate(0turn);
  }
  40% {
    transform: rotate(0.5turn);
  }
  70% {
    transform: rotate(0.7turn);
  }
  90%, 100% {
    transform: rotate(0.9turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Loading spinner */
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  animation: hidden 100ms ease-in-out 3s forwards;
  z-index: 1;
}
.loader::after {
  content: "";
  width: 250px;
  height: 250px;
  border: 5px solid transparent;
  border-top: 10px solid #9256dc;
  border-bottom: 10px solid #ff7ad9;
  border-radius: 50%;
  animation: load 900ms infinite linear;
}
.loader__hdg {
  font-family: "shrikhand", serif;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  position: absolute;
}

/* Header */
.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.header--algn {
  align-items: center;
}
.header__blc {
  display: flex;
}
.header__home {
  width: 30%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .header__home {
    width: 40%;
  }
}
.header__logo {
  width: 200px;
}
.header__logo--size {
  width: 250px;
}
@media screen and (min-width: 992px) {
  .header__logo {
    width: 300px;
  }
}

.main {
  width: 92%;
  align-self: center;
}

/* Location */
.loc {
  text-align: center;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .loc {
    border-radius: 20px;
  }
}
.loc__form {
  background-color: #e5e5e5;
}
@media screen and (min-width: 768px) {
  .loc__form {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
.loc__form__sch {
  height: 50px;
  border-color: transparent;
  font-size: 18px;
  padding-left: 10px;
  background-color: #e5e5e5;
}
.loc__msg {
  height: auto;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.loc__msg__hdg {
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.loc__msg__txt {
  font-weight: 300;
  color: #999999;
}

/* Bouton */
.btn {
  width: 300px;
  height: 60px;
  background: linear-gradient(-5deg, #9256dc 10%, #ff7ad9);
  text-decoration: none;
  border-color: transparent;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 20px 0px;
  transition: all 300ms ease-in-out;
  box-shadow: 8px 8px 8px hsl(0deg, 0%, 79%);
}
.btn:hover {
  background: linear-gradient(-5deg, hsl(267deg, 66%, 62%) 10%, hsl(317deg, 100%, 76%));
  box-shadow: 8px 8px 8px hsl(0deg, 0%, 74%);
}

.button {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
}

/* Fonctionnement */
.func {
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .func {
    padding-right: 0px;
  }
}
.func__mode {
  list-style-type: none;
  padding: 0px;
}
@media screen and (min-width: 992px) {
  .func__mode {
    display: flex;
    justify-content: space-between;
  }
}
.func__step {
  height: 100px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 20px 15px;
  background-color: #f2f2f2;
  color: #a6a6a6;
}
.func__step:hover {
  color: #9256dc;
  background-color: #f1eafb;
}
@media screen and (min-width: 992px) {
  .func__step {
    width: 30%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.func__step__info {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
}
.func__step__icn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.func__step__icn--num {
  width: 30px;
  height: 30px;
  background-color: #9256dc;
  border: solid transparent;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
  right: 15px;
}
.func__step__icn--scd {
  font-size: 25px;
  margin: 0px 20px;
}

/* Restaurants */
.rst {
  padding: 20px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .rst {
    border-radius: 20px;
  }
}
@media screen and (min-width: 768px) {
  .rst__blc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.rst__card {
  height: 300px;
  background-color: #ffffff;
  border: transparent;
  border-radius: 25px;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 8px 8px 8px hsl(0deg, 0%, 79%);
}
@media screen and (min-width: 768px) {
  .rst__card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .rst__card {
    width: 24%;
  }
}
.rst__img {
  width: 100%;
  height: 70%;
  border: 1px solid transparent;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: flex-end;
}
.rst__img--blc {
  height: 70%;
}
.rst__img__elmt {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  align-content: flex-end;
}
.rst__img__vign {
  width: 75px;
  height: 35px;
  text-align: center;
  background-color: #98e2cf;
  border: solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: 20px;
  color: #2c9c7f;
}
.rst__dsc {
  height: 30%;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.rst__firm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.rst__firm__name {
  font-size: 18px;
  margin: 0px;
}
.rst__firm__adr {
  margin: 0px;
}

/* Favoris */
.icn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .icn--pos {
    position: relative;
    right: 35px;
  }
}
.icn__fav {
  font-size: 30px;
  transform-origin: bottom;
}
.icn__fav__emp {
  color: gray;
}
.icn__fav__full {
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: all 400ms linear;
}
.icn__fav__full--pink {
  color: #ff7ad9;
}
.icn__fav__full--purp {
  color: #9256dc;
}
.icn:hover .icn__fav__emp {
  opacity: 0;
  transition: all 400ms linear 300ms;
}
.icn:hover .icn__fav__full {
  z-index: 1;
  transform: scale(1);
}
.icn:hover .icn__fav__full--pink {
  opacity: 0.9;
}
.icn:hover .icn__fav__full--purp {
  opacity: 0.5;
}

/* Footer */
.footer {
  color: #ffffff;
  padding: 20px;
  background-color: #404040;
}
@media screen and (min-width: 768px) {
  .footer--marg {
    margin-top: 20px;
  }
}
.footer__hdg {
  font-family: "shrikhand", serif;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .footer__hdg {
    padding-left: 40px;
  }
}
.footer__list {
  list-style-type: none;
  font-size: 18px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    padding-left: 40px;
  }
}
.footer__list__itm {
  margin-bottom: 10px;
}
.footer__list__lnk {
  text-decoration: none;
  color: #ffffff;
}
.footer__list__icn {
  width: 20px;
  margin-right: 20px;
}

/* Couverture */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cover__img {
  width: 100%;
  height: 600px;
}
.cover__hdg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  font-size: 30px;
  position: absolute;
  padding: 20px;
  background-color: #f2f2f2;
}
.cover__hdg__elmt {
  font-family: "shrikhand", serif;
  font-size: 40px;
  margin: 20px 10px;
}
@media screen and (min-width: 992px) {
  .cover__hdg__elmt {
    margin: 20px;
    padding-left: 10px;
  }
}

/* Menu */
.meal {
  padding: 20px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 992px) {
  .meal {
    display: flex;
  }
}
.meal__sct--1 {
  animation: appear 400ms ease-in-out;
}
.meal__sct--2 {
  animation: appear 400ms ease-in-out 400ms;
}
.meal__sct--3 {
  animation: appear 400ms ease-in-out 800ms;
}
.meal__sct__hdg {
  width: 50px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #98e2cf;
  margin-left: 10px;
}
.meal__sct__elmt {
  height: 100px;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 8px 8px 8px hsl(0deg, 0%, 79%);
}
@media screen and (min-width: 992px) {
  .meal__sct {
    width: 34%;
    padding: 20px;
  }
}
.meal__dsc {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .meal__dsc {
    width: 85%;
  }
}
.meal__dsc__hdg {
  font-size: 18px;
  margin: 0px;
}
.meal__dsc__compo {
  margin: 0px;
}
.meal__dsc:hover {
  width: 65%;
  transition: all ease-in-out 400ms;
}
@media screen and (min-width: 768px) {
  .meal__dsc:hover {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .meal__dsc:hover {
    width: 65%;
  }
}
.meal__dsc:hover + .meal__check {
  width: 35%;
  transition: all ease-in-out 400ms;
}
@media screen and (min-width: 768px) {
  .meal__dsc:hover + .meal__check {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .meal__dsc:hover + .meal__check {
    width: 35%;
  }
}
.meal__dsc:hover + .meal__check > .meal__check__elmt {
  width: 100%;
}
.meal__dsc:hover + .meal__check > .meal__check__elmt > .meal__check__icn {
  transform: rotate(2turn);
  transition: transform ease-in-out 400ms;
  opacity: 1;
}
.meal__check {
  width: 10%;
  display: flex;
}
@media screen and (min-width: 992px) {
  .meal__check {
    width: 15%;
  }
}
.meal__check__price {
  align-self: center;
  font-weight: 700;
  margin-right: 10px;
  position: relative;
  top: 11px;
}
.meal__check__elmt {
  width: 0%;
  overflow: hidden;
  background-color: #98e2cf;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meal__check__icn {
  font-size: 40px;
  color: #ffffff;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
