

/* Couverture */
.cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__img {
        width: 100%;
        height: 600px;
    }

    &__hdg {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        font-size: 30px;
        position: absolute;
        padding: 20px;
        @include bac($color-white);

        &__elmt {
            font-family: "shrikhand" ,serif;
            font-size: 40px;
            margin: 20px 10px;

            @include pc {
                margin: 20px;
                padding-left: 10px;
            }
        }
    }
}

/* Menu */
.meal {
    padding: 20px;
    background-color: #f2f2f2;

    @include pc {
        display: flex;
    }

    &__sct {

        &--1 {
            animation: appear 400ms ease-in-out;
        }

        &--2 {
            animation: appear 400ms ease-in-out 400ms;
        }

        &--3 {
            animation: appear 400ms ease-in-out 800ms;
        }

        &__hdg {
            width: 50px;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: 3px solid #98e2cf;
            margin-left: 10px;
        }

        &__elmt {
            height: 100px;
            display: flex;
            background-color: #ffffff;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 300;
            color: #000000;
            text-decoration: none;
            margin-bottom: 20px;
        }

        @include pc {
            width: 34%;
            padding: 20px;
        }
    }

    &__dsc {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px;

        @include pc {
            width: 85%;
        }

        &__hdg {
            font-size: 18px;
            margin: 0px;
        }

        &__compo {
            margin: 0px;
        }

        &:hover {
            width: 65%;
            transition: all ease-in-out 400ms;

            @include tab {
                width: 75%;
            }

            @include pc {
                width: 65%;
            }

            + .meal__check {
                width: 35%;
                transition: all ease-in-out 400ms;

                @include tab {
                    width: 25%;
                }

                @include pc {
                    width: 35%;
                }
                
                > .meal__check__elmt {
                    width: 100%;
                    
                    > .meal__check__icn {
                        transform: rotate(2turn);
                        transition: transform ease-in-out 400ms;
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    &__check {
        width: 10%;
        display: flex;

        @include pc {
            width: 15%;
        }

        &__price {
            align-self: center;
            font-weight: 700;
            margin-right: 10px;
            position: relative;
            top: 11px;
        }

        &__elmt {
            width: 0%;
            overflow: hidden;
            background-color: #98e2cf;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__icn {
            font-size: 40px;
            color: #ffffff;
            opacity: 0;
        }
    }
}

