

/* Menu */
.meal {
    width: 100%;
    padding: $padding;
    @include bac($color-white);
    @include pc {
        display: flex;
        flex-direction: row;
    }

    &__sct {
        padding: calc($padding/2) $none;  
        @include pc {
            width: 34%;
            padding: $padding;
        }
        &--1 {
            animation: appear 400ms ease-in-out;
        }
        &--2 {
            animation: appear 400ms ease-in-out 400ms;
        }
        &--3 {
            animation: appear 400ms ease-in-out 800ms;
        }

        
        &__hdg {
            width: 50px;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: 3px solid $color-tertiary;
            margin-left: 10px;
        }

        &__elmt {
            height: 100px;
            display: flex;
            background-color: $color-white;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 300;
            color: #000000;
            text-decoration: none;
            margin-bottom: 20px;
            justify-content: space-between;
            @include bosh;
        }
    }

    &__dsc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: calc($padding/2);
        @include pc {
            width: 85%;
        }

        &__hdg {
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: $none;
        }

        &__compo {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: $none;
        }

        &:hover {
            transition: all ease-in-out $duration;
            @include tab {
                width: 80%;
            }
            @include pc {
                width: 60%;
            }

            + .meal__check {
                width: 30%;
                transition: all ease-in-out $duration;
                @include tab {
                    width: 20%;
                }
                @include pc {
                    width: 35%;
                }
                
                > .meal__check__elmt {
                    width: 100%;
                    
                    > .meal__check__icn {
                        transform: rotate(2turn);
                        transition: transform ease-in-out $duration;
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    &__check {
        width: 10%;
        display: flex;

        &__price {
            font-weight: 700;
            align-self: center;
            margin: $none calc($padding/2) $none $none;
            position: relative;
            top: 11px;
        }

        &__elmt {
            width: 0%;
            overflow: hidden;
            background-color: $color-tertiary;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__icn {
            font-size: 40px;
            color: $color-white;
            opacity: 0;
        }
    }
}

