

/* Bouton */
.btn {
    width: 300px;
    height: 60px;
    background: $btn;
    text-decoration: none;
    border-color: transparent;
    border-radius: 35px;
    font-size: 22px;
    font-weight: 700;
    color: $color-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 20px 0px;
    transition: all 200ms ease-in-out;
    @include bosh;

    &:hover {
        background: $btn-hvr;
        @include bosh-drkn;
    }
}

.button {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include bac($color-white);
}

