



/* Favoris */
.icn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__fav {
        font-size: 30px;
        transform-origin: bottom;
        
        &__emp {
            @include col($color-black);
        }

        &__full {
            opacity: 0;
            position: absolute;
            transform: scale(0);
            transition: all 400ms linear;

            &--pink {
                color: $color-secondary;
            }
        
            &--purp {
                color: $color-primary;
            }
        }
    }

    &:hover {
        .icn__fav {          
            &__emp {
                opacity: 0;
                transition: all 400ms linear 300ms;
            }
            
            &__full {
                z-index: 1;
                transform: scale(1);

                &--pink {
                    opacity: 0.9;
                }
            
                &--purp {
                    opacity: 0.5;
                }
            }
        }
    }
}

