

/* keyframes */
@keyframes load {
    0% { transform: rotate(0turn); }
    40% { transform: rotate(0.5turn); }
    70% { transform: rotate(0.7turn); }
    90%,100% { transform: rotate(0.9turn);}
    100% { transform: rotate(1turn); }
}

@keyframes hidden {
    0% { opacity: 1; }
    100% { opacity: 0 ; z-index: -1; }
}

@keyframes appear {
    0% { transform: translateY(20px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}

