

/* Variables */ 


$color-black: #000;
$color-primary: #9256dc;
$color-secondary: #ff7ad9;
$color-tertiary: #98e2cf;
$color-white: #fff;

$btn: linear-gradient(-5deg, $color-primary 10%, $color-secondary);
$btn-hvr: linear-gradient(-5deg, #985ede 10%, #ff85dc);

$breakpoints: (tab:768px, pc:992px);
$duration: 400ms;
$none: 0px;
$padding: 20px;


/* Mixins */

@mixin bosh {
    box-shadow: 8px 8px 8px hsl(0, 0%, 89%);
}
@mixin bosh-hvr {
    box-shadow: 8px 8px 8px hsl(0, 0%, 79%);
}



@mixin bac($color) {
    @if (lightness($color) > 70) {
        background-color: darken($color,5);
    } @else {
        background-color: lighten($color,25);
    }
}
@mixin col($color) {
    @if (lightness($color) > 65) {
        color: darken($color,35);
    } @else {
        color: lighten($color,50);
    }
}
@mixin hov($color) {
    @if (lightness($color) > 70) {
        background-color: darken($color,5);
    } @else {
        background-color: lighten($color,35);
    }
}


@mixin tab {
    @media screen and (min-width: map-get($breakpoints,tab)) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: map-get($breakpoints,pc)) {
        @content;
    }
}

